@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: black;
    overflow-x: hidden;
    width: 100%;

}

.text-box .mobile{
    display: block; /* Exibe o texto no mobile por padrão */
}

header {
    display: flex;
    flex-direction: row;
    gap: 25.917px;
}

.logo {
    position: absolute;
    left: 80px;
    top: 20px;
}

.bnt-home{
    display: none;
}



.list {
    display: flex;
    flex-direction: row;
    gap: 13%;
    list-style: none;
    position: absolute;
    left: 18%;
}

.list a {
    color: white;
    text-decoration: none;
}

.list-2 {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10%;
    width: 30%;
    position: absolute;
    left: 70%;
}

.list-2 .link, .link-a{
    color: white;
    text-decoration: none;
}

.link-btn {
    border-radius: 30px;
    background: #FFBD00;
    width: 104.73px;
    height: 36px;
    padding: 10px 11.8px 10px 12px;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.home {
    display: flex;
    flex-direction: row;
}

.text-box h1 {
    display: flex;
    width: 572px;
    height: 191px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 49.563px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 129.13% */
}

.text-box p {
    display: flex;
    width: 485px;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 15.375px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 130.081% */
}

.text-box {
    margin-top: 16%;
    margin-left: 14%;
}

.img-home img {
    margin-top: 27%;
    margin-left: 14%;
    border-radius: 22px;
}


.title-func {
    display: flex;
    width: 401px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFE000;
    font-family: Inter;
    font-size: 33.609px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    /* 130.916% */
    margin-left: 14%;
}

.list-row-1 {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-left: 14%;
}

.list-row-2 {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-top: 2%;
    margin-left: 14%;
}

.card {
    display: flex;
    flex-direction: row;
    width: 371.98px;
    height: 164px;
    justify-content: left;
    align-items: left;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F3F3F3;
    gap: 26px;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.text h6 {
    display: flex;
    width: 150px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
}

.text p {
    display: flex;
    width: 194.67px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 11.625px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 172.043% */
    margin-top: -20%;
}

.text {
    margin-top: -5%;
    margin-left: 5%;
}

.bnt-func a {
    display: flex;
    width: 107.02px;
    height: 20px;
    padding: 10px 11.8px 10px 12px;
    border-radius: 30px;
    background: #000;
    display: flex;
    width: 83.22px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #F4CA33;
    text-align: center;
    font-family: Inter;
    font-size: 13.891px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 115.186% */
    text-decoration: none;
    margin-left: 5%;
}

.card .img {
    margin-top: 5%;
}

.app-ideal {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    gap: 8%;
    margin-left: 14%;
}

.text-box-app h1 {
    display: flex;
    width: 425.15px;
    height: 255px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: Inter;
    font-size: 48.648px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 131.556% */
}



.text-box-app p {
    display: flex;
    width: 455.17px;
    height: 67px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #CDCDCD;
    font-family: Inter;
    font-size: 15.375px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 156.098% */
    margin-top: -10%;
}

.bnt-app {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.go {
    display: flex;
    width: 118.36px;
    height: 48px;
    padding: 14px 24.8px 15px 25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFE000;
    display: flex;
    width: 68.56px;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 15.75px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 126.984% */
    text-decoration: none;
}

.conta {
    display: flex;
    width: 283.09px;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    font-family: Inter;
    font-size: 15.375px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 208.13% */
    margin-top: 3%;
}

.conta:hover {
    transition: all 1s;
    display: flex;
    width: 283.09px;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFE000;
    font-family: Inter;
    font-size: 15.375px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 208.13% */
    margin-top: 3%;
}

.seguranca {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    gap: 8%;
    margin-left: 14%;
}

.text-box-seguranca h1 {
    display: flex;
    width: 449px;
    height: 208px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: Inter;
    font-size: 48.648px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 131.556% */
}

.text-box-seguranca p {
    display: flex;
    width: 437.7px;
    height: 67px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #B0B0B0;
    font-family: Inter;
    font-size: 15.25px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 157.377% */
    margin-top: -10%;
}

.bnt-seguranca {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.veja {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 406px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #F6F6F6;
}

.title h4 {
    display: flex;
    width: 332.56px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 33.469px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    /* 131.466% */
}

.card-veja {
    gap: 10%;
    width: 558px;
    height: 198px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    display: flex;
    flex-direction: row;
}

.text-box-qrcode {
    margin-top: 20px;
}

.text-box-qrcode h6 {
    display: flex;
    width: 292px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 22.688px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 141.047% */
}

.text-box-qrcode p {
    display: flex;
    width: 150.78px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 15.375px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 156.098% */
    margin-top: -18%;
}

.qr-code-mobile {
    display: none; /* Esconde no desktop */
}


.qr-code {
    margin-left: 5%;
    margin-top: 5%;
    display: block;
}

.left {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 5%;
}

.text-footer {
    display: flex;
    width: 190.67px;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 15.25px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 104.918% */
}

.right {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 5%;
    margin-top: -2%;
}

.text-footer-1 p {
    display: flex;
    width: 317.75px;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 13.781px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 145.125% */
}


ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: -3%;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
  

  
@media screen and (max-width: 1040px) {
    .qr-code {
        display: none; /* Esconde no mobile */
    }

    .bnt-home{
        display: block;
    }

    .qr-code-mobile {
        display: block; /* Exibe no mobile */
    }
}

/* Quando a largura da tela for menor que 1170px */
@media screen and (max-width: 1170px) {

}

@media screen and (max-width: 620px) {

}

/* Quando a largura da tela for menor que 768px */

@media screen and (max-width: 620px) {

}


@media screen and (max-width: 768px) {


}

/* Quando a largura da tela for menor que 480px */
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 430px) {
    html, body {
        overflow-x: hidden; /* Impede o overflow horizontal em todo o site */
        width: 100%; /* Garante que o conteúdo não ultrapasse a tela */
        margin: 0; /* Remove margens extras */
    }

    body {
        padding: 0; /* Garante que não haja preenchimento que possa gerar rolagem lateral */
    }

    .logo {
        position: absolute;
        left: 30px;
        top: 23px;
    }

    .logo img {
        width: 80%;
    }

    .list, .link {
       display: none;
    }
    
    .list-2 {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 3%;
        width: 50%; /* Garantindo que a lista tenha largura proporcional */
        position: absolute;
        left: 39%;
        top: 1%;
        align-items: left;
    }

    .list-2 .link-a{
        color: white;
        text-decoration: none;
        font-size: 12px;
    }

    .link-btn {
        border-radius: 30px;
        background: #FFBD00;
        width: 100%; /* Garantindo que o botão ocupe toda a largura disponível */
        height: 36px;
        padding: 10px 11.8px;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;
        font-size: 12px;
    }

    .text-box .pc{
        display: none;
    }   
    
    .text-box h1 {
        display: flex;
        width: 100%; /* Garante que o título ocupe a largura disponível */
        max-width: 322px; /* Limita a largura do título */
        height: 191px;
        flex-direction: column;
        justify-content: center;
        color: #FFF;
        font-family: Inter;
        font-size: 34.563px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        margin-left: 5%; /* Remove margem negativa */
    }

    .text-box p {
     display: none;
    }

    .text-box {
        margin-top: 30%;
         margin-left: 5%; /* Remove margem negativa */
    }

    .home {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .img-home {
        margin-top: 0%;
        margin-left: -40%;
        border-radius: 12px;
        width: 330px;
    }

    .img-home img {
        margin-top: 10%;
        margin-left: 54%;
        border-radius: 12px;
        width: 330px;
    }

    .title-func {
        display: flex;
        width: 100%; /* Garante que o título ocupe a largura disponível */
        max-width: 401px; /* Limita a largura */
        height: 44px;
        flex-direction: column;
        justify-content: center;
        color: #FFE000;
        font-family: Inter;
        font-size: 23.609px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
         margin-left: 5%; /* Remove margem negativa */
    }

    .list-row-1 {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
         margin-left: 5%; /* Remove margem negativa */
    }

    .list-row-2 {
     display: none;
    }

    .card {
        display: flex;
        flex-direction: row;
        width: 100%; /* Garante que o cartão ocupe a largura disponível */
        max-width: 90%; /* Limita a largura do cartão */
        height: 164px;
        justify-content: left;
        align-items: left;
        border-radius: 8px;
        background: #F3F3F3;
        gap: 26px;
        margin-top: 3%;
        overflow: hidden;
    }

    .card .img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .app-ideal {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        gap: 8%;
         margin-left: 5%; /* Remove margem negativa */
    }

    .text-box-app h1 {
        display: flex;
        width: 100%;
        max-width: 295.15px; /* Limita a largura */
        height: 255px;
        flex-direction: column;
        justify-content: center;
        color: #FFF;
        font-family: Inter;
        font-size: 38.648px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
    }

    .text-box-app p {
        display: flex;
        width: 100%;
        max-width: 355.17px; /* Limita a largura */
        height: 67px;
        flex-direction: column;
        justify-content: center;
        color: #CDCDCD;
        font-family: Inter;
        font-size: 15.375px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-top: -19%;
    }

    .bnt-app {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    .bnt-home{
        position: relative;
       display: flex;
       flex-direction: column;
       margin-top: -10%;
       margin-left: 10%;
    }

    .img-app{
        display: none;
    }

    .seguranca {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        gap: 8%;
         margin-left: 5%; /* Remove margem negativa */
    }

    .text-box-seguranca h1 {
        display: flex;
        width: 100%;
        max-width: 295.15px; /* Limita a largura */
        height: 255px;
        flex-direction: column;
        justify-content: center;
        color: #FFF;
        font-family: Inter;
        font-size: 38.648px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
    }

    .text-box-seguranca p {
        display: flex;
        width: 100%;
        max-width: 355.17px; /* Limita a largura */
        height: 67px;
        flex-direction: column;
        justify-content: center;
        color: #CDCDCD;
        font-family: Inter;
        font-size: 15.375px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-top: -19%;
    }

    .bnt-seguranca {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    .img-seguranca img{
        margin-top: 10%;
         margin-left: -3%; /* Remove margem negativa */
        width: 100%; /* Garante que a imagem ocupe 100% da largura */
    }

    .card-veja {
        gap: 10%;
        width: 100%; /* Garante que o cartão ocupe a largura disponível */
        max-width: 80%; /* Limita a largura */
        height: 140px;
        flex-shrink: 0;
        border-radius: 16px;
        background: #FFF;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    .qr-code{
        display: none;
    }

    .qr-code-mobile {
        margin-left: 5%;
        margin-top: 5%;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .qr-code-mobile img{
        width: 100px;
    }

    .text-box-qrcode h6 {
        display: flex;
        width: 100%;
        max-width: 292px; /* Limita a largura */
        height: 32px;
        flex-direction: column;
        justify-content: center;
        color: #000;
        font-family: Inter;
        font-size: 15.688px;
        font-weight: 700;
        line-height: 32px;
    }

    .text-box-qrcode p {
        display: flex;
        width: 100%;
        max-width: 150.78px; /* Limita a largura */
        height: 24px;
        flex-direction: column;
        justify-content: center;
        color: #000;
        font-family: Inter;
        font-size: 12.375px;
        font-weight: 400;
        line-height: 24px;
        margin-top: -30%;
    }

    .text-box-qrcode {
        margin-top: 1px;
        margin-left: -75%; /* Remove margem negativa */
    }

    .veja {
        width: 100%; /* Garante que a div ocupe 100% da largura disponível */
    }
}
